@tailwind base;
@tailwind components;
@tailwind utilities;


#root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.navbar {
  --navbar-height: 64px; /* Example height */
}
.footer {
  --footer-height: 72px; /* Example height */
}
.test{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-panel{
  width: 100%;
  height: 100%;
  background-image: url('./assets/images/tesfst.svg');
  background-size:cover;
}
.contain{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width:50%;
  height:100%;
  background-color:#070133 ;
}
.contain-img-redirect{
  background-color:#070133 ;
  height:100%;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .contain{
    display:none;
  }
}
@media (max-width:650px){
  .contain-img-redirect{
    display:none;
  }
  .login-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#070133 ;
  }
}
.dark {
  --background: 222.2 47.4% 10.6%;  /* very dark blue */
  --foreground: 210 40% 98%;        /* almost white */
  --primary: 210 40% 98%;           /* almost white */
  --primary-foreground: 222.2 47.4% 11.2%; /* very dark blue */
  --muted: 217.2 32.6% 17.5%;      /* dark muted blue */
  --muted-foreground: 210 40% 98%; /* almost white */
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  padding-top: var(--navbar-height);
  padding-bottom: var(--footer-height);
  transition: background-color 0.3s ease, color 0.3s ease;
}
